


<div class="row">

    <div class="col-md-12">

        <div class="box">
            <div class="box-header">
                <span>
                    <span class="imgleft fa fa-table" aria-hidden="true"></span>
                    نمایش آمار بازدیدها به تفکیک کشور
                </span>

            </div>
            <div class="box-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="HitBoxgreen">

                            <div class="text-center top10">
                                <span class="fa fa-users fa-3x" style="color: #fff"></span>
                                <h4>افراد آنلاین</h4>
                                <span> 125 نفر</span>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-4">

                        <div class="HitBoxRed">

                            <div class="text-center top10">
                                <span class="fa fa-eye fa-3x" style="color: #fff"></span>
                                <h4>بازدید امروز</h4>
                                <span> 125 نفر</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="HitBoxBlue">

                            <div class="text-center top10">
                                <span class="fa fa-eye fa-3x" style="color: #fff"></span>
                                <h4>بازدید امروز</h4>
                                <span> 125 نفر</span>
                            </div>

                        </div>

                    </div>

                </div>

            </div>



        </div>


    </div>

</div>

