@model WebSiteStatistics.Models.StatisticsViewModel
<div class="row">

    <div class="col-md-12">

        <div class="box">
            <div class="box-header">
                <span>
                    <span class="imgleft fa fa-table" aria-hidden="true"></span>
                    نمایش آمار کلی
                </span>

            </div>
            <div class="box-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="HitBoxgreen">

                            <div class="text-center top10">
                                <span class="fa fa-users fa-3x" style="color: #fff"></span>
                                <h4>افراد آنلاین</h4>
                                <span> @Model.OnlineUsers نفر</span>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-3">

                        <div class="HitBoxRed">

                            <div class="text-center top10">
                                <span class="fa fa-eye fa-3x" style="color: #fff"></span>
                                <h4>بازدید امروز</h4>
                                <span> @Model.TodayVisits نفر</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="HitBoxBlue">

                            <div class="text-center top10">
                                <span class="fa fa-eye fa-3x" style="color: #fff"></span>
                                <h4>بازدید کل</h4>
                                <span> @Model.TotallVisits نفر</span>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-3">



                        <div class="HitBoxBlue">

                            <div class="text-center top10">
                                <span class="fa fa-eye fa-3x" style="color: #fff"></span>
                                <h4>بازدید یونیک</h4>
                                <span> @Model.UniquVisitors نفر</span>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="row top20">

                    @{ Html.RenderAction("BrowserTable", "Home"); }

                </div>

                <div class="row">

                    @{Html.RenderAction("OsTable","Home");}
                </div>

            </div>



        </div>


    </div>

</div>
