@model WebSiteStatistics.Models.StatisticsViewModel
<div class="row">

    <div class="col-md-12">

        <div class="box">
            <div class="box-header">
                <span>
                    <span class="imgleft fa fa-table" aria-hidden="true"></span>
                    نمایش آمار کلی
                </span>

            </div>
            <div class="box-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="HitBoxgreen">

                            <div class="text-center top10">
                                <span class="fa fa-users fa-3x" style="color: #fff"></span>
                                <h4>افراد آنلاین</h4>
                                <span> <span id="usersCount"></span> نفر</span>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-3">

                        <div class="HitBoxRed">

                            <div class="text-center top10">
                                <span class="fa fa-eye fa-3x" style="color: #fff"></span>
                                <h4>بازدید امروز</h4>
                                <span> @Model.TodayVisits نفر</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="HitBoxBlue">

                            <div class="text-center top10">
                                <span class="fa fa-eye fa-3x" style="color: #fff"></span>
                                <h4>بازدید کل</h4>
                                <span> @Model.TotallVisits نفر</span>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-3">



                        <div class="HitBoxBlue">

                            <div class="text-center top10">
                                <span class="fa fa-eye fa-3x" style="color: #fff"></span>
                                <h4>بازدید یونیک</h4>
                                <span> @Model.UniquVisitors نفر</span>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="row top20">

                    @{ Html.RenderAction("BrowserTable", "Home"); }

                </div>

                <div class="row">

                    @{Html.RenderAction("OsTable", "Home");}
                </div>
                <div class="row">

                    @{Html.RenderAction("Referrer", "Home");}

                </div>

                <div class="row">

                    @{Html.RenderAction("PageView", "Home");}

                </div>
            </div>



        </div>


    </div>

</div>

    <audio controls="controls">
        <source src="~/Sound/in.ogg" type="audio/ogg"/>
    </audio>
    


@section scripts
{
    <script type="text/javascript">
        $(function() {
            $.connection.hub.logging = true;
            var onlineUsersHub = $.connection.onlineUsersHub;
            onlineUsersHub.client.updateUsersOnlineCount = function(count) {

                var currentCount = $('#usersCount').text();
                $('#usersCount').text(count);
               
                if (currentCount.length > 0) {
                    if (currentCount > count) {
                        var audio = document.getElementsByTagName("audio")[0];
                        audio.play();
                        $.noty.defaults.killer = false;
                        noty({
                            text: 'کاربر از سایت خارج شد!',
                            layout: 'topLeft',
                            theme: 'defaultTheme',
                            closeWith: ['click', 'hover'],
                            type: 'warning'
                        });
                    } else if (currentCount < count) {
                        var audio = document.getElementsByTagName("audio")[0];
                        audio.play();
                        $.noty.defaults.killer = false;
                        noty({
                            text: 'کاربر جدیدی وارد سایت شد!',
                            layout: 'topLeft',
                            theme: 'defaultTheme',
                            closeWith: ['click', 'hover'],
                            type: 'information'
                        });
                    }
                }


            };
            $.connection.hub.start();
        });
    </script>


}
