<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<div class="row">

    <div class="col-md-12">

        <div class="box">
            <div class="box-header">
                <span>
                    <span class="imgleft fa fa-bar-chart" aria-hidden="true"></span>
                    نمایش آمار بازدیدها روی نقشه
                </span>

            </div>
            <div class="box-content">

                <div id="map_canvas" style="height: 550px;"></div>
                @section scripts {
                    <section class="scripts">

                        <script type="text/javascript">


            $(document).ready(function () {
                Initialize();
            });

            // Where all the fun happens
            function Initialize() {

                // Google has tweaked their interface somewhat - this tells the api to use that new UI
                google.maps.visualRefresh = true;
                    
                var iran = new google.maps.LatLng(35.6961, 51.4231);

                // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
                var mapOptions = {
                    zoom: 2,
                    center: iran,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };

                // This makes the div with id "map_canvas" a google map
                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                // a sample list of JSON encoded data of places to visit in Tunisia
                // you can either make up a JSON list server side, or call it from a controller using JSONResult


                $.getJSON('/Home/RequestMapData/', function (data) {
                    // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins


                    $.each(data, function (i, item) {
                        var marker = new google.maps.Marker({
                            'position': new google.maps.LatLng(item.Latitude, item.Longitude),
                            'map': map,
                            'title': item.CountryName

                        });



                        // Make the marker-pin blue!
                        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');


                        // put in some information about each json object - in this case, the opening hours.
                        var infowindow = new google.maps.InfoWindow({
                            content:"<div class='info'><h5>"+item.CountryName+"</h5><hr/><div class='imgflag'><img src='../Content/Images/flags/"+item.CountryCode+".png' class='img-rounded' /></div><hr/><div class='viewcount'>تعداد بازدید:<span class='badge'>"+item.ViewCount+"</span></div></div>"

                    });

                        // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.open(map, marker);
                        });
                    });
                });

            }


                        </script>
                    </section>
                }

            </div>



        </div>


    </div>

</div>