
@{
    ViewBag.Title = "درباره";
}
<div class="row">
    <div class="col-md-12">

        <div class="box">
            <div class="box-header">
                <span>
                    <span class="imgleft fa fa-question" aria-hidden="true"></span>
                   درباره 
                </span>

            </div>
            <div class="box-content">
                
            </div>
        </div>
    </div>


</div>
