@font-face {
    font-family: Vazir-FD;
    font-style: normal;
    font-weight: bold;
    src: url('../Content/fonts/Vazir-FD.woff') format('eot'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    /* src: url('fonts/IRANSansWeb_Bold.woff2') format('woff2');  FF39+,Chrome36+, Opera24+*/
}

@font-face {
    font-family: Vazir-FD;
    font-style: normal;
    font-weight: normal;
    src: url('../Content/fonts/Vazir-FD.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    /* src:url('fonts/IRANSansWeb.woff2') format('woff2'),  FF39+,Chrome36+, Opera24+*/
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Vazir-FD;
    background: url(Images/bg.jpg) repeat;
}

.box {
    border-radius: 2px;
    box-shadow: 0 1px 0 1px #e4e6eb;
    margin: 0 0 30px;
}

    .box .box-header {
        background: #418BCA none repeat scroll 0 0;
        border-radius: 2px 2px 0 0;
        color: white;
        height: 46px;
        overflow: hidden;
        padding: 14px 10px 5px 0;
        text-align: justify;
        vertical-align: middle;
    }

    .box .box-content {
        background: white none repeat scroll 0 0;
        border-radius: 0 0 2px 2px;
        padding: 18px;
        
       
    }

/*Chart Style*/
#chart {
    width: 650px;
    height: 300;
    margin: 30px auto 0;
    display: block;
}

    #chart #numbers {
        height: 100%;
        width: 50px;
        margin: 0;
        padding: 0;
        display: inline-block;
        float: left;
    }

        #chart #numbers li {
            text-align: right;
            padding-right: 1em;
            list-style: none;
            height: 29px;
            border-bottom: 1px solid #444;
            position: relative;
            bottom: 30px;
        }

            #chart #numbers li:last-child {
                height: 30px;
            }

            #chart #numbers li span {
                color: #000;
                position: absolute;
                bottom: 0;
                right: 10px;
            }

    #chart #bars {
        display: inline-block;
        background: rgba(0, 0, 0, 0.2);
        width: 600px;
        height: 300px;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 0 1px #444;
    }

        #chart #bars li {
            display: table-cell;
            width: 100px;
            height: 300px;
            margin: 0;
            text-align: center;
            position: relative;
        }

            #chart #bars li .bar {
                display: block;
                width: 70px;
                margin-left: 15px;
                background: #49E;
                position: absolute;
                bottom: 0;
            }

                #chart #bars li .bar:hover {
                    background: #5AE;
                    cursor: pointer;
                }

                    #chart #bars li .bar:hover:before {
                        color: green;
                        content: attr(data-percentage) '%';
                        position: relative;
                        bottom: 20px;
                    }

            #chart #bars li span {
                color: #000;
                width: 100%;
                position: absolute;
                bottom: -2em;
                left: 0;
                text-align: center;
            }

/*Chart style end*/

/*Map Style*/

#map_canvas img {
    max-width: none;
}

.info {
    background-color: #fff;
    width: 150px;
    border-radius: 5px;
    border-top: 1px solid #ccc;
    font-family: Vazir-FD;
    
}



    .info h5 {
        padding-top: 5px;
        text-align: center;
    }

    .info .viewcount {
        text-align: center;
        padding-bottom: 6px;
        font-family: Vazir-FD;
    }

    .info hr {
        width: 50px;
    }

    .info .imgflag {
        text-align: center;
    }
    /*Add Ip Form*/
    .margin10 {
        margin: 10px auto 10px auto;
    }
    /*Hit Box*/
    .HitBoxgreen {
        height: 150px;
        background-color: #16A085;
        width: 100%;
        border-radius: 3px;
        border: 1px solid gray;
        color: #fff;
        
      
     }
    .HitBoxRed {
        height: 150px;
        background-color: #E05D6F;
        width: 100%;
        border-radius: 3px;
        border: 1px solid gray;
        color: #fff;
        
      
     }
  
    .HitBoxBlue {
        height: 150px;
        background-color: #418BCA;
        width: 100%;
        border-radius: 3px;
        border: 1px solid gray;
        color: #fff;
        
      
     }
    .HitBox:hover{
        
        
        mso-border-shadow: yes;
       box-shadow: 0 1px 4px lightgray;
     }
    .top10 {
        padding-top: 10px;
    }
   /*Progress*/
   .progress {
       margin-top: 15px;
        height: 40px;

   }
   .m-0 {
       margin: 0 !important;
   }
   .table-no-border {
       border: none!important;
   }
   .top20 {
       margin-top: 20px;
   }